.product-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
    width: 20rem;
    height: 28rem;
    padding: 1.5rem;
    box-shadow: 0 0 10px 0 #888;
    transition: .3s ease;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
}

.product-card:hover{
    scale: 1.05;
}

.product-card .card-img{
    height: 60%;
    overflow: hidden;
}

.product-card .card-img img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.product-card .card-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    height: 30%;
    overflow: hidden;
}

.product-card .card-info h3{
    font-size: 1em;
    font-weight: 800;
}

.product-card .card-info p{
    font-size: 1em;
    font-weight: 600;
    overflow: auto;
    transition: .3s;
}

.card-rating{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.card-rating .rate{
    font-weight: 800;
}

.card-rating .stars{
    display: inherit;
}

.card-rating .comments{
    font-size: .8em;
    color: #bbb;
}

.product-card .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}

.product-card .card-footer p{
    font-size: 1.3em;
    font-weight: 600;
}

.add-to-cart{
    width: 100%;
    padding: .8rem;
    background-color: transparent;
    color: #008CF6;
    font-weight: 600;
    border: 2px solid;
    outline: none;
    /* border-radius: 1.3rem; */
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    scale: 1;
    transition: .3s ease;
}

.add-to-cart:hover{
    background-color: #008CF6;
    color: #fff;
    border: 2px solid #008CF6;
    scale: 1.05
}

.add-to-cart:active{
    scale: .95;
}