nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 10px #ccc;
    z-index: 10;
}

nav img{
    width: 150px;
    cursor: pointer;
}

nav button{
    background: none;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    transition: .3s;
}

nav button:hover{
    transform: scale(1.1);
}