.product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 3rem;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
}