<!-- <div class="cart-item">
    <div class="img-cart">
        <img src="${item.image}" alt="${item.title}">
    </div>

    <div class="info">
        <div class="left">
            <span class="title">${item.title}</span>

            <div class="controls">
                <button aria-label="Disminuir cantidad">
                    <i class="ri-subtract-line decrement minus" data-id="${item.id}"></i>
                </button>

                <span>${item.quantity}</span>

                <button aria-label="Aumentar cantidad">
                    <i class="ri-add-line increment plus" data-id="${item.id}"></i>
                </button>
            </div>
        </div>

        <span class="price">$${(Number(item.price) * item.quantity).toFixed(2)}</span>

        <button class="delete-btn">
            <i class="ri-delete-bin-6-line delete" data-id="${item.id}"></i>
        </button>
    </div>
</div> -->
