/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body{
    width: 100%;
    min-height: 100vh;
}

.custom-modal .mat-mdc-dialog-container {
    /* width: clamp(18rem, 60%, 90rem); */
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.custom-modal .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.custom-modal .mat-mdc-dialog-container app-global-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    transition: .3s ease;
    overflow: hidden;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #img-product-modal {
    width: 50%;
    height: 100%;
    padding: 2rem;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #img-product-modal img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 100%;
    padding: 2rem;
    border: 1px solid;
    overflow: auto;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal .card-rating{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal .card-rating .rate{
    font-weight: 800;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal .card-rating .stars{
    display: inherit;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal #price{
    display: inherit;
    align-items: center;
    gap: 1.5rem;
    font-size: .8em;
    font-weight: 300;
    text-transform: uppercase;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal #price strong{
    font-size: 1.8em;
    font-weight: 800;
}


.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal .comments{
    font-size: .8em;
    color: #bbb;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal #description{
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.custom-modal .mat-mdc-dialog-container app-global-modal #info-product-modal #description::first-letter{
    text-transform: uppercase;
}